<% include header.ejs %>

<hr>
<div class="jumbotron">
	<div id="player"></div>
  	<script src="/socket.io/socket.io.js"></script>
	<script src="../js/socketTest.js"></script>
</div>
 <td colspan="2"><input class="textBox" id="field" type="text" maxlength="30"    required/></td>
<td><input type="button" class="loginButtons" value="work" id="send"/>
<% include footer.ejs %>
